.carousel-container {
  position: relative;
  width: 600px;
  height: 250px;
  perspective: 1000px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
}

.card {
  position: absolute;
  width: 250px;
  height: 300px;
  /* background: linear-gradient(135deg, #3b82f6, #06b6d4); */
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  transition: transform 0.8s ease, opacity 0.5s ease;
  display: flex;
  flex-direction: column;
  animation: box 6s infinite;
  backdrop-filter: blur(2px);
}
.text {
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(
    270deg,
    #ff4d4d,
    #ffcc00,
    #33cc33,
    #3399ff,
    #cc33ff
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 5s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.bottom {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes box {
  0% {
    box-shadow: 0 0px 40px rgba(233, 215, 12, 0.956);;
  }
  50% {
    box-shadow: 0 0px 40px rgb(12, 104, 233);;
  }
  100% {
    box-shadow: 0 0px 40px rgba(233, 215, 12, 0.956);;
  }
}
.card:hover {
  box-shadow: 0 25px 50px rgba(226, 16, 149, 0.977);
  cursor: pointer;
}
.carousel-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255,255,255,0.2);
  border: none;
  color: white;
  padding: 12px 18px;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
  z-index: 2;
}

button:hover {
  background: rgba(255,255,255,0.4);
}

.left-btn {
  left: -60px;
}

.right-btn {
  right: -60px;
}
.img {
  width: 100%;
  height: 60%;
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0px 0px;
}

@media screen and (max-width: 700px){
  .carousel-container {
  width: 90%;
  height: 200px;
}
  .left-btn {
    left: -20px;
  }
  .right-btn {
    right: -20px;
  }
  .card {
    width: 230px;
    height: 270px;
    font-size: 1.5rem;
  }
}
