.clubs {
  width: 100%;
  height: 92vh;
  overflow-y: auto;
  padding-top: 60px;
  box-shadow: inset 0 70px 100px -50px rgba(20, 91, 109, 0.816);
  background: linear-gradient(120deg, rgba(193, 8, 8, 0.24), rgba(110, 74, 187, 0.256));
  display: flex;
  FLex-direction: column;
  /* justify-content: center; */
  padding-top: 200px;
  align-items: center;
}
.clubs h1 {
  color: white;
  margin: 5px;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}
.com{
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 5px;
  margin-top: 5px;
}
.cont {
  margin-top: 15px;
}
.per{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5px;
}
.perLeft{
  font-weight: bold;
  color: white;
  font-size: 13px;
}
.perRight{
  font-weight: bold;
  color: white;
  font-size: 13px;
}
.topDiv {
  width: 250px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.645);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.474);
}
.innerDiv{
  width: 150px;
  height: 3px;
  background-color: yellow;
  animation: load 5s ease-in-out infinite;
  background:linear-gradient(120deg, rgb(255, 132, 0), rgb(0, 166, 255));
  border-radius: 10px;
}
@keyframes load {
  0% {
    width: 100px;
  }
  50% {
    width: 200px;
  }
  100% {
    width: 100px;
  }
}